<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">
<head>
    <title>IIF Technical Test</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Select questions below</h1>
        <hr>
        <ul>
            <li><a href="/question1">Question 1</a></li>
            <li><a href="/question2">Question 2</a></li>
            <li><a href="/question3">Question 3</a></li>
        </ul>
    </section>
</body>
</html>
