<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand fw-bold" href="#">IIF Technical Test</a>
        
        <div>
            <a href="/question1" class="btn btn-light shadow mx-2">Question 1</a>
            <a href="/question2" class="btn btn-light shadow mx-2">Question 2</a>
            <a href="/question3" class="btn btn-light shadow mx-2">Question 3</a>
        </div>
    </div>
  </nav>